h1 {
    color: rgb(30, 80, 105);
}

body {
    background-color: cadetblue ;
}
p {
    color: mediumvioletred;
}
h2 {
    color: gainsboro;
}
ul {
    color: rgb(95, 72, 12);
}
h4 {
    color: rgb(84, 79, 53);
}